*
	margin: 0;
	padding: 0;
	//text-decoration: none;
	
html
	width: 1200px;
	text-align: center;
	margin: 0 5%;
	
@import "src/var.styl" 
@import "src/header/menu.styl" 
@import "src/body/map.styl" 
@import "src/body/main_&&_aside.styl" 