.mainBody
	text-align: left;
	
	
	.main__company
		
		&-title
			font-size: 1.3em;
			font-weight: bold;
			color: blue;
			text-transform: uppercase;
			border-bottom: 1px dashed #909090;
			padding-bottom: 10px;
		
		&-desc
			margin-top: 15px;
			color: #909090;
			line-height: 1.5em;
			border-bottom: 1px dashed #909090;
			padding-bottom: 15px;
			
	.main__services	
		height: 220px;
		border-bottom: 1px dashed #909090;
		padding-bottom: 15px;

			
		span
			display: block;
			margin-top: 18px;
			text-transform: uppercase;
			color: blue;
			text-align: left;
			padding-bottom: 18px;
			// float: left;
			
		.first__li
			float: left;	
		.second__li
			float: right;	
		li
			margin-top: 10px;
			text-transform: capitalize;
			list-style: none;
			font-size: 13px;
						
			a
				color: blue;
				
			&::before
				content: '-';
				margin-right: 10px;
				color: blue;
