header
	img
		height: 480px;
menu 
	position: absolute;
	top: 449px;
	text-align: center;
	display: grid;
	grid-template-rows: 31px;
	grid-template-columns: repeat(6,160px);
	margin-left: 128px;
	margin-right: 104px;
	li
		display: block;
		background-color: #03a8d5;
		font-size: 13px;	
		padding-top: 5px;
		color: #fff;
		font-weight: bold;
		
		&:hover
			background-color: #03bae1;
			border-right: 20px solid #4ebfde