.aside
	.news
		h2 новости
		.news__items
			.news__item
		
				span 21.09.2012 
				.div | 
				span Разработка проекта для 
				br 
				span многоэтажного дома в городе Киев:)
			.news__item
				span 21.09.2012 
				.div | 
				span Разработка проекта для 
				br 
				span многоэтажного дома в городе Киев:)
			.news__item
				span 21.09.2012 
				.div | 
				span Разработка проекта для 
				br 
				span многоэтажного дома в городе Киев:)
			.news__item
				span 21.09.2012 
				.div | 
				span Разработка проекта для 
				br 
				span многоэтажного дома в городе Киев:)
			a.allNews(href="#") Посмотреть все новости	
	.order
		.order__title
			span Онлайн-Заказ
		.order__desc
			span Вы можете сделать онлайн заказ, или проконсультироваться у наших специалистов 

		.order__button
			.order__button-png
				img(src="images/template/arrows.png")
			.order__button-content

				.order__button-title
					span Заказ
				.order__button-desc
					span Нажмите для заказа