.map
	.map__item
		img(src="images/template/map_item1.jpeg")
		.map__item-desc
			h2 Проектирование
			span Комплексная разработка
			a(href="#") Подробнее
	.map__item
		img(src="images/template/map_item2.jpeg")
		.map__item-desc
			h2 Производство
			span Строительные работы
			a(href="#") Подробнее
	.map__item
		img(src="images/template/map_item3.jpeg")
		.map__item-desc
			h2 Монтаж
			span Монтаж и обслуживание
			a(href="#") Подробнее