.ourProjects
	.ourProjects__title
		span Наши проекты
	a.arr__left(href="#")
		img(src="images/template/arr.png")
	a.arr__right(href="#")
		img(src="images/template/arr.png")
	.ourProjects__items
		.ourProjects__item
			.ourProjects__item-img
				img(src="images/template/projects.jpeg")
			.ourProjects__item-title
				a(href="#") Строение
			.ourProjects__item-locate
				span г.Москва
			.ourProjects__item-price
				span Цена: 
				span 1.5000 000 
				span руб
		.ourProjects__item
			.ourProjects__item-img
				img(src="images/template/projects.jpeg")
			.ourProjects__item-title
				a(href="#") Строение
			.ourProjects__item-locate
				span г.Москва
			.ourProjects__item-price
				span Цена: 
				span 1.5000 000 
				span руб
		.ourProjects__item
			.ourProjects__item-img
				img(src="images/template/projects.jpeg")
			.ourProjects__item-title
				a(href="#") Строение
			.ourProjects__item-locate
				span г.Москва
			.ourProjects__item-price
				span Цена: 
				span 1.5000 000 
				span руб

		.ourProjects__item
			.ourProjects__item-img
				img(src="images/template/projects.jpeg")
			.ourProjects__item-title
				a(href="#") Строение
			.ourProjects__item-locate
				span г.Москва
			.ourProjects__item-price
				span Цена: 
				span 1.5000 000 
				span руб


	.ourProjects__desc
		span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.